.container {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 796px) {
  .container {
    display: flex;
    justify-content: center;
    padding-left: 10rem;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 30vh;
  padding-left: 32vh;
  padding-right: 0rem;
}
@media screen and (max-width: 796px) {
  .wrapper {
    padding: 0;
    padding-top: 10vh;
    padding-left: 0;
    padding-right: 5em;
    padding-bottom: 25vh;
  }
}

.title {
  margin-top: 3rem;
}
.hi {
  color: #0047ff;
  font-size: 1.95rem;
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  line-height: 1.56rem;
}
.name {
  color: #0047ff;
  font-size: 3.35rem;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 700;
  line-height: 2.5rem;
  margin-top: 0.35em;
  margin-bottom: 0.55em;
}
.pic {
  width: 300px;
  height: 300px;
}
.ui.medium.image {
  width: 100%;
  height: auto;
}
.pic {
  position: relative;
  width: 300px;
  height: 300px;
}
.pic:before {
  content: '';
  position: absolute;
  top: -10%;
  left: -20%;
  transform: translate(-75%, -50%);
  width: 350px;
  height: 350px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgba(255, 230, 0, 0.2);
  z-index: -1;
  -webkit-animation: left 3s infinite ease-in-out;
  -moz-animation: left 3s infinite ease-in-out;
  animation: left 3s infinite ease-in-out;
}
.ui.dividing.header {
  color: #0047ff;
  font-size: 2.9rem;
  font-weight: 100;
  font-family: 'Inter Tight', sans-serif;
}
