.project-list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 5rem;
}

.project-card-container {
  position: relative;
  height: 600px;
  width: 450px;
  padding: 2.1rem;
  background-color: #ffe3cd;
  border-radius: 20px;
  border: 1px solid #0a0096;
  box-shadow: 0px 0px 0px black;
  transition: all 250ms ease-in-out;
}

.project-card-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(229, 201, 241, 0.5);
  transition: opacity 250ms ease-in-out;
  border-radius: 20px;
  z-index: 1;
}
@media screen and (max-width: 851px) {
  .project-list-wrapper .project-card-wrapper .project-card-container {
    display: block;
    height: 600px;
    width: 450px;
    padding: 2.1rem;
    background-color: #ffe3cd;
    border-radius: 20px;
    border: 1px solid #0a0096;
    box-shadow: 0px 0px 0px black;
    transition: all 250ms ease-in-out;
  }
}

@media screen and (max-width: 1440px) {
  .project-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin: 0 auto;
  }
  .project-card-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 9rem;
  }
  .project-card-container {
    margin-left: 6rem;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffe3cd;
    width: 900px;
    height: fit-content;
    border-radius: 20px;
    border: 1px solid #0a0096;
    box-shadow: 0px 0px 0px black;
    transition: all 250ms ease-in-out;
  }

  .project-card-container::before {
    display: none;
  }

  .project-card-image {
    width: auto;
    height: 100%;
    max-height: 250px;
  }
}

.project-card-container:hover::before {
  opacity: 0;
}

.project-card-container:hover {
  box-shadow: -6px 10px 0px #0a0096;
  transform: translate(10px, -15px);
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.project-card-image {
  max-height: 250px;
  max-width: 400px;
  margin-bottom: 1.5rem;
  border: 2px solid #0a0096;
}
.project-card-title {
  font-size: 2.25rem;
  color: #0a0096;
  text-decoration: underline;
  font-weight: 700;
  font-family: 'League-Spartan', sans-serif;
  margin-bottom: 3.4509rem;
}
.project-card-subtitle {
  font-size: 1.25rem;
  font-weight: 100;
  font-family: 'Inter Tight', sans-serif;
  margin-bottom: 3.4509rem;
}
